<ion-content>


	<div class="containermd">

		<div class="logo">
			<img src="assets/imgs/logo.png" width="64px" height="64px">
		</div>
		
		<ion-item>
			<ion-label floating><ion-icon name="mail"></ion-icon> Email</ion-label>
			<ion-input (ionChange)='emailInput($event)' type="email" [(ngModel)]="userDetails.Email" required></ion-input>
		</ion-item>
		<ion-item-divider *ngIf="!email">Email should be xxxx@xxxx.com</ion-item-divider>
		<ion-item-divider *ngIf="email"><ion-icon color="secondary" name="checkmark"></ion-icon> Email should be xxxx@xxxx.com</ion-item-divider>

		<br>

		<button color="header" ion-button block (click)="forgrtPassword()" [disabled]='!isenabled'>
			Reset Password
		</button>

		<br>

		<p block class="login" (click)="backToLogin()">
			Back to login !
		</p>

	</div>





</ion-content>